.container {
  max-width: unset;
  width: 100%;
  min-height: 100vh;
  background: #20202b;
}

.wrapper-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-radio {
  max-width: 320px;
  width: 100%;
  background: #2b2b36;
  border-radius: 25px;
}

button {
  background: transparent;
  cursor: pointer;
  border: 0;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  margin: 0;
}
